<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{public/fragment/head :: head}"></head>
<body>
<div th:replace="~{public/fragment/navbar :: navbar}"></div>

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Blog</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>

<div class="product-section">
    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">

            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 mb-5" th:each="blog: ${blogs}">
                    <div class="post-entry">
                        <a th:href="@{/blog/{id}(id=${blog.id})}" class="post-thumbnail">
                            <img th:src="@{${blog.iconUrl}}" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-content-entry">
                            <h3>
                                <a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">Judul Blog</a>
                            </h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Blog Section -->

    </div>
</div>



<div th:replace="~{public/fragment/footer :: footer}"></div>
</body>
</html>
